.main {
    width: inherit;
    height: inherit;
    PADDING: 0;
    margin: 0;
}

.panel{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 10px;
    row-gap: 20px;
    text-align: left;

}
.errorcode{
    font-size: 100pt;
    font-weight: bold;

}

.subtitle{
    font-size: 18pt;
    font-weight: bold;
    letter-spacing: 0;
    height: auto;
}

@media only screen and (min-width: 786px)
{
    .errorcode{
        font-size: 200pt;
    
    }
    .subtitle{
        font-size: 30pt;
    }
}