

.api {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 20px;
    border-radius: 5px;
    margin: 25%;
    margin-top: 10%;
    row-gap: 15px;
    align-items: flex-end;
}

input[type="submit"] {
    padding: 10px;
    border-color: var(--secondary-color);
    border: var(--secondary-color) solid 4px;
    padding-left: 50px;
    padding-right: 50px;
}