
.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  
  min-width: 300px;
  height: 150px;
  
  padding: 12px;
  row-gap: var(--margin-1);
  font-size: 12px;
  /* overflow-y: scroll; */
  overflow-y: clip;
  padding-bottom: 100px;
  width: 100%;
}

/* @media only screen and (max-width: 772px){ */
  .main-map{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
  }
  .left-container{
    /* height: 40%; */
    width: auto;
    overflow-y: scroll;
    width: 100%;
    padding-bottom: 5%;
  }

  .panel.category{
    padding: 12px;
    row-gap: 20px;
    font-size: 12px;
    overflow-y: scroll;
    /* padding-bottom: 100px; */
    scrollbar-width: none; 
    min-width: 300px;
  }

  

.aboutpanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 21;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 24px;
  box-sizing: border-box;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  row-gap: 15px;
  font-size: 12px;
  font-weight: 100;
  max-width: 90%;
  /* width: calc(100vw - var(--margin-2)); */
}

.categorysidepanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* width: 38vw; */
  min-width: 300px;
  /* max-width: 350px; */
  margin: 24px;
  top: 10%;
  /* left: var(--margin-1); */
  background-color: var(--side-panel-color);
  color: var(--secondary-color);
  padding: var(--margin-1);
  padding-bottom: var(--margin-2);
  border-radius: 10px;
  z-index: 100;
  align-items: flex-start;
  font-size: 14px;
  gap: var(--margin-1);
}
  .commentpanel {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 70;
    z-index: 23;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    justify-items: flex-end;
    flex-wrap: wrap;
    transform: translateY(150px);
    will-change: transform;
    transition: all .3s ease-in-out;
  }
/* } */

.pinButton {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: var(--margin-1) auto;
}

.config {
  cursor: pointer;
  justify-self: flex-end;
}

.click{
  cursor: pointer;
}

@media only screen and (min-width: 772px) {
  .panel {
    max-width: 350px;
    width: auto;
    height: 100vh;
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    /* width: 38vw; */
  }
  .panel.citylayers {
    /* width: 38vw; */
    padding: 12px;
    width: auto;
    height: 100vh;
    /* width: 30%; */
    width: 100%;
    height: 100%;
  }
  .pinButton {
    width: calc(38vw - var(--margin-2));
    min-width: calc(300px - var(--margin-2));
    max-width: calc(350px - var(--margin-2));
    margin: var(--margin-1);
  }  
}

.categorypanelheader {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  margin: var(--margin-1) 0;
}

.categorypanellabel {
  font-weight: 700;
}

.categorycontainer {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  background-color: var(--primary-color);
  /* color: var(--tertiary-color); */
  padding: 12px 24px;
  border-radius: 10px;
}

.categoryheader {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr 1fr;

  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2px;
  justify-items: flex-end;
  padding: 0px;
  /* flex-wrap: nowrap;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  

    font-size: 16px;
    font-weight: 700;
    line-height: 25.52px;
    text-align: left;
    color: var(--main-bg-color);  */

}

.categoryheadertitle{
  /* margin-right: 33%; */
  /* margin-bottom: 5%; */
  text-transform: capitalize;
}

.sliderlabelcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--secondary-color);
  opacity: 0.6;
  text-transform: capitalize;
}

.categoryslider {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 12px 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #C4B5F0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

  

  .material-symbols-outlined{
    cursor: pointer;
    align-self: center;
    justify-self: start;
  }
  

  

  /* input[type=range]::-webkit-slider-thumb:disabled {
    background: #C4B5F0;
  }  */

  input[type=range]::-webkit-slider-thumb:hover {
    background: var(--secondary-color);
  } 


input[type=range]::-moz-range-thumb{
  appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}


/* .panel.category div:nth-child(1 of div.categorycontainer) > .categoryslider > input[type=range]::-webkit-slider-thumb{
  background-color: var(--category1);
}

.panel.category div:nth-child(2 of div.categorycontainer) > .categoryslider > input[type=range]::-webkit-slider-thumb{
  background-color: var(--category2);
}

.panel.category div:nth-child(3 of div.categorycontainer) > .categoryslider > input[type=range]::-webkit-slider-thumb{
  background-color: var(--category3);
}

.panel.category div:nth-child(4 of div.categorycontainer) > .categoryslider > input[type=range]::-webkit-slider-thumb{
  background-color: var(--category4);
}

.panel.category div:nth-child(5 of div.categorycontainer) > .categoryslider > input[type=range]::-webkit-slider-thumb{
  background-color: var(--category5);
}

.panel.category div:nth-child(6 of div.categorycontainer) > .categoryslider > input[type=range]::-webkit-slider-thumb{
  background-color: var(--category6);
} */

.panel.category div:nth-child(n of div.categorycontainer) > .categoryslider > input[type=range]:disabled::-webkit-slider-thumb{
  background-color: var(--tertiary-color);
  cursor: not-allowed;
}


input[type="range"]:disabled::-webkit-slider-thumb {
  background-color: var(--tertiary-color);
  cursor: not-allowed;
}

input[type=range].startSlider::-webkit-slider-thumb{
  width: 11px;
  height: 11px;
  z-index: 1;
}

input[type=range].startSlider::-moz-range-thumb {
  width: 11px;
  height: 11px;
  z-index: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: var(--secondary-color);
  pointer-events: none;

}

input[type="range"].startSlider {

  /*background-color: var(--tertiary-color);*/
  height: 0;
  z-index: 10;
}
  
  input[type="range"]:disabled{
    background-color: var(--tertiary-color);
    cursor: not-allowed;
  }


/*CATEGORY SWITCH */

/* The switch - the box around the slider */
.categoryswitch {

  position: relative;
  width: 30px;
  height: 15px;

    display: inline-block;
    box-sizing: border-box;
    
    align-self: center;
    justify-self: end;
  }
  
  /* Hide default HTML checkbox */
  .categoryswitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .categoryswitch span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color); 
    border-width: 2px;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .categoryswitch span:before {
    position: absolute;
    content: "";
    height: 7px;
    width: 7px;
    left: 1px;
    bottom: 1px;
    background-color: var(--primary-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .categoryswitch input:checked + span {
    /* border of the switch when active */
    border-color: var(--secondary-color);
    border-width: 2px;
    box-sizing: border-box;
    background-color: var(--primary-color);
  }

  .categoryheader:has(> .categoryswitch input:checked) {
    /* Category title when active */
    color: var(--secondary-color);
  }

  .sliderlabelcontainer:has(~ .categoryheader:has(> .categoryswitch input:checked)){
    color: var(--tertiary-color);
    cursor: not-allowed;

  }
  
  /* input:focus + span {
    box-shadow: 0 0 1px var(--secondary-color);
  } */
  
.categoryswitch input:checked + span:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
    background-color: var(--secondary-color);
  }
  
  /* Rounded sliders */
  .categoryswitch span {
    border-radius: 34px;
  }
  
  .categoryswitch span:before {
    border-radius: 34px;
  }
  
  /* Subcategory Tag */

.tagcontainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 9px;
  font-weight: 300;
  line-height: 9px;
  gap: 7px;
  overflow: none;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;


}

/* Hide default HTML checkbox */
.categoryswitch input{
  opacity: 0;
  width: 0;
  height: 0;
}

.categoryswitch input[type='checkbox']:checked{
  width: 0;
  height: 0;
}

/* The slider */
.categoryswitch span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  border:solid 1px var(--secondary-color);
  border-radius: 50%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.categoryswitch span:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 1px;
  bottom: 1px;
  background-color: var(--tertiary-color);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.categoryswitch input:checked+span {
  /* border of the switch when active */
  border: solid 1px var(--secondary-color);
}

.categoryheader:has(> .categoryswitch input:checked) {
  /* Category title when active */
  color: var(--secondary-color);
}

.sliderlabelcontainer:has(~ .categoryheader:has(> .categoryswitch input:checked)) {
  color: var(--secondary-color);
}

.categoryswitch input:checked+span:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
  background-color: var(--secondary-color);
}

/* Rounded sliders */
.categoryswitch span {
  border-radius: 100px;
}

.categoryswitch span:before {
  border-radius: 50%;
}

/* Subcategory Tag */

.tagcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tagcontainer .tag{
  margin-top: 8px;
  margin-right: 8px;
}

.tag label{
  font-size: 12px;
}

/* .tag input:checked + .tag-element {
  background-color: var(--primary-color);
} */

.tag input:checked + .tag-element::after {
  content: "✕";
  height: 16px;
  width: 16px;
  text-align: end;
}

.tag input:disabled + .tag-element>label{
  color: var(--secondary-color);
  cursor: not-allowed;
}

