
.landing_general{
    margin: 0;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
    height: 60vh;
    display: grid
;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
}

.locatebutton{
    position: relative;
    justify-self: center;
    align-self: flex-start;
    grid-row: 1;
    grid-column: 1;
    z-index: 5;
    border-radius: 6px;
    outline: none 0px var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    outline: none;
    border: solid 2px var(--secondary-color);
    width: 60%;
    height: 7%;
    margin-top: 10px;
    cursor: pointer;
}

.leaflet-container{
    position: relative;
    height: 100%;
    width: inherit;
    z-index: 4;

    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.scope{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.qa-container {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.question>div:nth-child(1) {
    /* padding-top: 10%; */
    font-size: 28px;
    font-weight: 400;
    line-height: 1.3em;
    margin-bottom: 18px;
    height: auto;
}

.ranges-container>span:nth-child(2) {
    text-align: left;
}
.ranges-container>span:nth-child(2) {
    text-align: right;
}

.qpanel {
    padding: 5%;
    width: inherit;
    /* height: 100%; */
    display: flex
;
    flex-direction: column;
    justify-content: flex-start;
    /* padding: 24px; */
    padding-bottom: 10%;
    row-gap: 40px;
    padding-left: var(--mobile-side-margin);
    padding-right: var(--mobile-side-margin);
}

.qfooter{
    padding: 0px;
    height: 12%;
    width: auto;
    margin: 10px;
}

.qheader {
    display: flex;
    flex-direction: row;
    padding: 5%;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    height: auto;
}

.qheader .logo{
    height: 25px;
    width: auto;
    padding: inherit;
}


.exit-button{
    text-decoration: underline;
    background-color: var(--primary-color);
    border-style: none;
    cursor: pointer;
}

.back-button{
    border-style: none;
    cursor: pointer;
}

.primary-button {
    z-index: 10;
    margin: 24px auto;
    cursor: pointer;
    width: 100%;
}

#img-uploader {
    display: none;
}

.skip-span{
    display: block;
    text-align: center;
    margin-top: 18px;
    cursor: pointer;
}

span {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    opacity: 0.6;
    width: auto;
}

hr{
    border-color: var(--tertiary-color);
}

.img-container {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--secondary-color);
    border-radius: 10px;
    max-height: calc(90vw);
    min-height: 100px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 786px)
{

    .main {
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        min-height: 60%;
      }

    .img-container{
        max-height: 25vw;
    }

    .qpanel{
        padding: 15%;
        padding-top: 5%;
    
    }
    .qheader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.textinput {
    display: flex;
    border: solid 1px var(--secondary-color);
    border-radius: 10px;
    max-height: calc(90vw);
    min-height: 100px;
    width: 100%;
    overflow: hidden;
}

textarea::placeholder {
    color: var(--secondary-color);
    font-size: 14px;
    opacity: 0.6;
}



.img-text {
    text-transform: uppercase;
    color: var(--secondary-color);
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    flex-direction: column;
}

.img-text div {
    font-size: 30px;
    font-weight: 300;
    margin-right: 6px;
    
}

#img-preview{
    max-width: 60%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
    height: 12%;
    width: auto;
    margin: 10px;

}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    height: auto;
}

button {
    text-transform: capitalize;
    font-size: 14px;
    width: 120px;
    height: 32px;
    cursor: pointer;
}

.next-button {
    background-color: var(--secondary-color);
    color: white;
    padding: 4px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.next-button.skip {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.back-button::before {
    content: '';
    border: solid var(--secondary-color);
    border-width: 1px 0 0 1px;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-bottom: 1px;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1px;
    position: relative;
    background: var(--secondary-color);
    outline: none;
    margin-top: 30px;
    padding: 0px;
}

/* input[type=range]::-webkit-slider-thumb:hover {
    background: #C4B5F0;
  }  */


/* input[type=range]::-moz-range-thumb{
  appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  background-color: #C4B5F0;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
} 
*/

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: var(--thumb-color);
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: var(--thumb-color);
    border-radius: 50%;
}

.ranges-container{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    margin-top: 8px;
    height: 100%;
    width: 100%;
}

.question-container {
    /* margin-bottom: 40px; */
    width: 100%;
    height: auto;
    padding: 10%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* margin-top: 5%; */
}

.tagcontainer {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 15px;
}

/* .tag input[type=checkbox]:checked~.tag-element {
    background-color: var(--thumb-color);
} */

.tag input[type=checkbox]:checked~.tag-element {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.steps {
    background-color: var(--tertiary-color);
    height: 4px;
    width: 100%;
    transform: scaleX(calc(var(--step-current)/var(--step-length)));
    transform-origin: left;
}