

.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  
}

.landing_illustration {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0%;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 0px;
  /* grid-auto-columns: max-content; */
}



.landing_illustration a {
  grid-column-start: 1;
  grid-row-start: 1;
  width: 40%;
  z-index: 4;
  align-self: center;
  justify-self: center;
}

.landing_illustration img {
  width: 100%;
  max-height: 100%;
  grid-column-start: 1;
  grid-row-start: 2;
  /* animation-name: fade; */
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.landing_illustration img:nth-child(2){
  animation-delay: 2s;
}
.landing_illustration img:nth-child(3){
  animation-delay: 3s;
}

.landing_illustration .logo {
  padding: 10%;
}

.landing.logo {
  padding-top: 0;
  padding-left: 0;
  align-self: center;
  justify-self: center;
  width: 50%;
  animation-duration: 0s;
}

.landing a{
  z-index: 3;
  display: grid;
  grid-row-start: 1;
  grid-column-start: 1;
}

.grad{
  display: none;

}

.landing_general {
  /* display: flex
  ;
      flex-direction: column;
      padding: 1%;
      box-sizing: border-box;
      row-gap: 30px; */
  font-size: 30pt;
  display: grid;
  padding: 10%;
  z-index: 4;
  justify-content: center;
  flex-direction: column;
  padding-left: var(--mobile-side-margin);
  padding-right: var(--mobile-side-margin);
  background-color: #ffffffdf;
  row-gap: 30px;
}
/* .landing_general > * {
  padding: 10%;
} */
.landing_general * {
  padding-top: 0px;
  padding-bottom: 0px;
}

.description{
  font-size: 12pt;
}
.card {
  
  width: 100%;
  
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--secondary-color) 2px solid;
  box-sizing: border-box;
  padding: 10px;
  
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  font-size: 10pt;
  grid-row-gap: 10px;
}

.card.section {
  text-transform: capitalize;
  /* justify-self: center; */
  font-weight: bold;
  font-size: 14pt;
  align-self: center;
  align-content: center;
  flex-wrap: wrap;
}

.projectpanel{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: inherit;
  
}

.logo{
  max-width: 900px;
  justify-self: center;
  align-self: center;
  z-index: 3;
  cursor: pointer;
  padding: 0px;
}

.title{
  /* text-transform: uppercase; */
  /* justify-self: center; */
  font-weight: bold;
  font-size: 14pt;
  /* align-self: center; */

  grid-column-start: 1;
  grid-row-start: 1;
  border-bottom: var(--secondary-color) 1px solid;
}
.projectdescription{
  white-space: pre-line;
}

.projectButton{
    width: 100%;
    height: 50%;
    border-radius: 2px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    border: white 2px solid;
    margin-top: 5%;
    padding: 5%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 3;
    display: inline-grid;
    grid-row-end: 2;
}

.card > .projectButton{
    
  display: none;

}

.projectdescription{
  grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
    display: inline-grid;
    grid-row-end: 2;
}

.slogan {    
  font-size: 20pt;
  font-weight: bold;
  grid-column: 1;
  grid-row: 1;
  width: inherit;
  padding: inherit;
  padding-top: 0px;
}


.partner{
  height: auto;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 3;
  
  grid-row-end: 4;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}


.categoryheader{
  grid-column-start: 1;
    grid-row-start: 2;  /*1*/
    grid-column-end: 2;
    display: inline-grid;
    grid-row-end: 2;
}

.legalbodycontent > .categoryheader{
  grid-row-start: 1;
}

/* a{
  
    width: 100%;
    display: flex;
    padding-top: 10%;
    padding-left: 20%;

} */
/*
##################################################
*/


#wrap {
	position: relative;
	overflow: hidden;

    position: relative;
    overflow: hidden;
    display: flex;
    width: 500px;
    height: 200px;
    left: 25%;
    height: 20%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


.tabs{
  height: 100%;
    width: 50%;
    position: relative;
    top: 15%;
    left: 30%;
    box-sizing: border-box;
    padding: 50px;
}

.landing > div > img{
  width: 60%;
    left: 20%;
    position: relative;
    /* top: 30%; */
    /* margin-top: 200; */
    padding-top: 150px;
}

.landingtext{
  width: 100%;
  box-sizing: border-box;
  padding: 20%;
  padding-top: 60%;
  text-align: center;
}

/* .footer{
  height: 24px;
  min-height: 24px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
} */





#indicator {
  position: absolute;
  top: 0px;
  left: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#indicator > div {
  background-color: white;
  width:10px;
  height:10px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

#indicator > div.active {
  transform: scale(1.6);
}

.buttoncontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  /* padding: 0; */
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 10px;
  text-align: center;
  align-items: center;
}

.buttoncontainer > .primary-button {
  align-content: center;
  height: 40px;
  width: 40%;
}

@media only screen and (min-width: 772px){

  .landing_general {
    padding-top: 0px;
    row-gap: 4%;
  }

  .main {
    padding: 0px;
  }

  .slogan {
    grid-row: 2;
    font-size: 30pt;
    
  }

  .grad{
      background-image: radial-gradient(#21212122, #fff9);
      grid-row-start: 1;
      display: grid;
      grid-column-start: 1;
      grid-row-start: 2;
      z-index: 2;
      padding: inherit;
      width: 100%;
      height: inherit;
    
    }

  .description{
    padding: inherit;
    font-size: 16pt;
    line-height: 32pt;
  }

  .landing_illustration{
    grid-template-rows: 1fr;
    grid-row: 1;
    padding: 0px;
    margin: 0px;
  }
  .landing_illustration img {
    grid-row-start: 1;
    padding-top: 0px;
  }
  .grad{
    /* background-image: radial-gradient(#21212100, #21212177); */
    background-image: radial-gradient(#fff, #21212122);
    grid-row-start: 1;

  }

  .projectpanel{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 0px;
  }

  .card {
    width: auto;
    max-width: 250px;
    height: auto;
    max-height: 250px;
    row-gap: 20px;
    /* border-radius: 5px; */
    padding: 20px;
    cursor: pointer;
  }

  .projectdescription{
    padding: 0px;
  }

  .legalbodycontent{
    height: 100%; 
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 10%;
    font-size: 12px;
    padding-bottom: 5%;
    /* height: 80%; */
    grid-template-rows: 1fr 1fr 1fr;
    align-items: flex-start;
  }
  .projectButton{
    height: auto;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 4;
    grid-row-end: 2;
  }
  
  
  .buttoncontainer{
      padding-top: 10%;
  }

  .landingtext{
    padding-top: 20%;
  }
}

