.legalbutton {
    color: var(--secondary-color);
    font-size: 14px;
}

.closebutton{
    height: auto;
    width: auto;
}

.legalheader{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-between;
    justify-items: flex-start;
    width: 100%;
    height: 10%;
    flex-wrap: wrap;
    padding: 0px;
}
.legalheader .logo{
    width: 100px;
}
.legalbody{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* align-content: flex-start; */
    justify-content: flex-start; /*space-between;*/
    justify-items: flex-start;
    width: 100%;
    /* height: 100%; */
    row-gap: 20px;
    padding: 0px;
    /* flex-wrap: wrap; */
    /* overflow: scroll; */
}



.legalbodycontent > a{
    text-decoration: underline;
    width: 150px;
}

.legaltitle{
    font-size: 40pt;
    display: contents;
    font-weight: bold;
    letter-spacing: -2pt;
    height: auto;
    padding: 0px;
}
.legaltext{
    height: auto;
}
.legaltextframed {
    border: var(--secondary-color) 1px solid;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    height: auto;
}

.legalpanel{
    /* box-shadow: 0px 3px 3px 1px rgba(58, 72, 76, 20%); */
    width: inherit;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /*end*/
    padding: 24px;
    padding-bottom: 10%;
    row-gap: 40px;
    padding-left: var(--mobile-side-margin);
    padding-right: var(--mobile-side-margin);
}

.legalbodycontent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 20px;
    height: 100%;
}
.buttoncontainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 12;
    -moz-column-gap: 40px;
    column-gap: 40px;
    row-gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
    justify-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}

.buttonfooter{
    height: auto;
    padding-bottom: 20%;
}

.buttoncontainer > .primary-button {
    /* display: flex; */
    align-content: center;
    /* height: 100px; */
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* flex-direction: column; */
}
.tag {
    display: inline-block;
    position: relative;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    overflow: visible;
    height: 30px;
    width: fit-content;
}
.tags-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


@media only screen and (min-width: 400px) and (max-width: 772px) {
    .buttoncontainer{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
        padding: 0px;
        -moz-column-gap: 40px;
        column-gap: 40px;
        row-gap: 40px;
        text-align: center;
        align-items: center;
        /* padding-top: 50%; */
    }
}


@media only screen and (min-width: 772px) {
    .header{
        background-color: var(--primary-color);
    }
    .legalpanel {
        width: 70%;
        /* height: 85%; */
        background-color: var(--primary-color);
        /* filter: drop-shadow(0px 5px 5px #212121); */
        /* box-shadow: 0px 3px 25px 1px rgba(58, 72, 76, 20%); */
        /* top: 7%; */
        left: 10%;
        padding-top: 80px;
        padding: 80px;
    }
    .buttonfooter{
        height: auto;
        padding-bottom: 2%;
    }

    .legalbutton {
        font-size: 14px;
    }
    .legalheader{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        align-content: flex-start;
        justify-content: space-between;
        justify-items: flex-start;
        width: 100%;
        height: 10%;
        flex-wrap: wrap;
    }
    .legalbody{
        
        align-items: stretch;
        align-content: flex-start;
        justify-content: space-between;
        justify-items: flex-start;
        width: 100%;
        display: grid;
        /* height: 80%; */
        row-gap: 20px;
        /* flex-wrap: wrap; */
        /* overflow: scroll; */
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .legaltitle{
        font-size: 40;
        font-weight: bold;
        letter-spacing: -2;
        height: auto;
    }
    .legaltextframed {
        height: max-content;
        /* width: 300px; */
        /* max-height: 80px; */
        padding: 10px;
    }
    
    .legalsubtitle{
        grid-area: 1 / 1 / 1 / span 2;
    }

}

.onecol{
    grid-template-columns: 1fr;
    justify-items: stretch;

}



