

.main{
    /* height: 100vh; */
    height: auto;
    width: 100%;
}
.dashboard{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.main-map{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: row;
}

.right-container{
    position: relative;
    flex: auto;
    height: 100%;
}
.left-container{
    width: auto;
    background-color: var(--tertiary-color);
  }

.mappanel{
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    z-index: 1;
}

.map {
    height: 100%;
}

/* to adjust later*/

.leaflet-control-container{
    width: auto;
}

.leaflet-popup-pane, .leaflet-control {
    cursor: auto;
    height: auto;
    width: auto;
}

.leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    box-shadow: none;
    height: auto;
    width: auto;
}

.leaflet-control-container{
    width: auto;
    height: auto;
}
.leaflet-layer{
    height: 100%;
}

.leaflet-tile-container{
    height: 100%;
    width: 100%;
}

.leaflet-heatmap-layer{
    height: auto;
    width: auto;
    opacity: var(--vis-opacity);

}

.leaflet-zoom-animated {
	-webkit-transform-origin: 0 0;
	    -ms-transform-origin: 0 0;
	        transform-origin: 0 0;
	}

/* Dahsboard only */
/* .tag .tag-element {
    font-size: 8pt;
    padding: 0px 4px;
}

.tagcontainer .tag {
    margin-top: 0px;
    margin-right: 0px;
} */

/* .tagcontainer{
    margin-top: 0px;
    padding-bottom: 5px;
} */