body {
  --main-bg-color: #FFFFFF;
  --side-panel-color: #3ACE8E;
}

.categorysidepanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 38vw;
  min-width: 300px;
  max-width: 350px;
  top: 10%;
  left: var(--margin-1);
  background-color: var(--side-panel-color);
  color: var(--secondary-color);
  padding: var(--margin-1);
  padding-bottom: var(--margin-2);
  border-radius: 10px;
  z-index: 130;
  align-items: flex-start;
  font-size: 14px;
  gap: var(--margin-1);
  height: auto;
  width: auto;
  /* box-shadow: 0px 4px 4px 1px rgba(58, 72, 76, 25%); */
}

.categorysidetagcontainersmall {
  gap: 8px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: auto;
  height: auto;
}

.categorysidetagcontainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: var(--margin-1);
}

.categorysidetagcontainer>button {
  text-align: start;
}

.categorysidetagcontainertitle {
  text-align: start;
  background-color: inherit;
  border: none;
  font-size: 12px;
  font-weight: 300;
}

.closebutton {
  background-color: inherit;
  border: none;
  padding-bottom: var(--margin-1);
  width: auto;
  height: auto;
}

.sidepanelclose {
  background-color: inherit;
  border: none;
}

.logo {
  width: 100px;
}

.geopanel {
  position: absolute;
  top: 0;
  margin: var(--margin-1) auto;
  left: 0;
  right: 0;
  z-index: 21;
  background-color: var(--primary-color);
  box-sizing: border-box;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  height: 27px;
  min-width: 150px;
  width: fit-content;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.aboutlabel {
  position: absolute;
  height: auto;
  width: auto;
  right: 0;
  top: 0;
  z-index: 21;
  color: var(--secondary-color);
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 12px;
  margin: 16px;
  font-weight: 800;
  cursor: pointer;
}

.aboutpanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 21;
  height: fit-content;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin: 12px;
  box-sizing: border-box;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  row-gap: 15px;
  font-size: 12px;
  font-weight: 100;
  max-width: 350px;
  width: calc(100vw - var(--margin-2));
  height: auto;
}

.aboutdescription{
  font-size: 14px;
  border-bottom: solid 1px var(--primary-color);
  font-weight: 500;
  padding-bottom: var(--margin-1);

}

.abouttext{
  padding: var(--margin-1) 0;
}